<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="sms_server_master.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <sms_server_master.My.MySettings>
            <setting name="SMSConnectionString" serializeAs="String">
                <value />
            </setting>
            <setting name="DISPLAY_NAME" serializeAs="String">
                <value>Emmanuel</value>
            </setting>
            <setting name="PRIVILEGE" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="USER_ID" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DEFAULT_PASSWORD" serializeAs="String">
                <value>uenr1234</value>
            </setting>
            <setting name="DISPLAY_IMAGE" serializeAs="String">
                <value />
            </setting>
        </sms_server_master.My.MySettings>
    </userSettings>
</configuration>